/*******************************************
***** Dominio : fugazzeta.com.ar       *****
***** sub-dominio : www                *****
***** Archivo :  style.css             *****
***** Autor : Rodrigo Zerrezuela       *****
***** Fecha : 2022-10                  *****
***** Version : 1.1.0                  *****
********************************************/


/*****************************
 *****     VARIABLES     *****
 *****************************/
$color-white:#FFFFFF;
$color-green:#287b48;
$color-bordo:#892F30;
$color-red:#ED3237;
$color-black:#000000;
$color-special-gray:#383838;
$color-background:#ECECEC;
$color-border-box:#729A4A;
$color-backgroud-box :  #d2cdcd;

