
/******************************(**
 *****     IMPORTS FONTS     *****
 *********************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');


/*************************
 *****     FONTS     *****
 *************************/

$heading-font-family: "Lato", sans-serif;
$body-font-family: "Open Sans", sans-serif;
$base-font-size: 14px;
$font-weight-300: 300px;
$font-weight-100: 100px;
$title-font-size-1: 36px;
$title-font-size-2: 28px;
$title-font-size-3: 20px;
$base-font-size-mobile:10px;
$base-font-size-table:12px;